[Desktop Entry]
Encoding=UTF-8
Name=Link to Relaciones entre las tablas de ejemplo - Documentación de IBM
Type=Link
URL=https://www.ibm.com/docs/es/db2-for-zos/11?topic=tables-relationships-among-sample
Icon=text-html
