[Desktop Entry]
Encoding=UTF-8
Name=Link to Cobol-Academy/Week 2/Exercises/03 - Payroll exercise at Week2 · VictorLavalle/Cobol-Academy
Type=Link
URL=https://github.com/VictorLavalle/Cobol-Academy/tree/Week2/Week%202/Exercises/03%20-%20Payroll%20exercise
Icon=text-html
